E2E_GITHUB_USERNAME="username"
E2E_GITHUB_PASSWORD="supersecretpassword"

PROD_CLERK_PUBLISHABLE_KEY="pk_live_key"
PROD_CLERK_SECRET_KEY="sk_live_key"

DEV_CLERK_PUBLISHABLE_KEY="pk_test_key"
DEV_CLERK_SECRET_KEY="sk_test_key"

E2E_CLERK_USER_USERNAME="username"
E2E_CLERK_USER_PASSWORD="supersecretpassword"